

* {
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    background-color: rgb(0, 0, 20);
    margin: 0;
}

header h1 {
    text-align: center;
    font-size: 400%;
}

h1, h2, footer h3 {
    color: rgb(255, 208, 0);
}

/* paragraph styles */
p {
    color: rgb(188, 145, 212);
    font-size: 120%;
}

#info-paragraph {
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container > section {
    margin: 0.5em;
}

canvas {
    border: 4px solid rgb(103, 158, 209);
}

/*toolbar styles*/
#toolbar {
    text-align: center;
    background-color: rgb(30, 37, 39);
    padding: 0.5em 0;
    margin: 1em 0;
    border-color: rgb(103, 158, 209);
    border-style: solid;
    border-width: 5px 0 5px 0;
}

#saveload-toolbar {
    display: flex;
    justify-content: space-evenly;
}
/* setting panel styles */
#setting-panel {
    background-color: rgb(30, 37, 39);
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: rgb(103, 158, 209);
    border-style: solid;
    border-width: 4px;
}

#setting-panel > div {
    background-color: rgb(39, 39, 105);
    padding: 1rem;
}

/*button styles*/


button {
    border: 2px dashed white;
    background-color: rgb(53, 76, 128);
    color: rgb(255, 208, 0);
    padding: 0.5em 5em;
    font-size: 1em;
}



button:hover {
    border-color: rgb(255, 208, 0);
}

button:active {
    background-color: rgb(103, 134, 207);
}

#toolbar button:focus {
    background-color: rgb(103, 158, 209)
}

.setting-button {
    width: 500px;
    display: block;
    margin: auto;
}


.save-setting-button {
    width: 150px;
    padding: 0.5em 1em;
}

button:disabled{
    background-color: rgb(71, 71, 71);
    color: rgb(173, 173, 173);
}
button:disabled:hover {
    border: 2px dashed white;
}


/* general input style */
input {
    margin: 3em 0 3em 0;
}

#grid-name-input {
    -webkit-appearance: none;
    outline: none;
    width: 400px;
    border: 1px solid rgb(103, 158, 209);
    background-color: black;
    color: rgb(255, 208, 0);
    font-size: 1em;
}

/* input slider styles */
.input-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border: 1px solid rgb(103, 158, 209);
    background-color: black;
    cursor: pointer;
}
.input-slider:disabled {
    border: 1px solid rgb(173, 173, 173);
    background-color: rgb(36, 36, 36);
    cursor:not-allowed;
}

.input-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    /* width: 100%; */
    height: 30px;
    width: 30px;
    background-color: rgb(53, 76, 128);
    border: 1px solid rgb(103, 158, 209);
}

.input-slider:disabled::-webkit-slider-thumb {
    background-color: rgb(173, 173, 173);
    border: 1px solid white;
    cursor:not-allowed;
}

/* saved item list styles */
/* #saved-list {
    margin: 0;
} */
.save-item {
    background-color: rgb(74, 86, 114);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.25em;
    margin: 0.25em 0;
}

.save-item h3 {
    color: rgb(255, 208, 0);
}

.save-load-buttons button {
    width: 100px;
    padding: 4px 0;
    margin: 0 2px;
}

.remove-item {
    color: rgb(255, 115, 115);
    background-color: rgb(105, 31, 31);
}

.load-item {
    color: rgb(115, 255, 150);
    background-color: rgb(43, 105, 31);
}

